*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins', sans-serif;
   
}
/* ........................................................... */
 /* Header Section Start  */
 /* ............................................................ */
header{
    display: flex;
    background-color: black;
    color: white;
    margin: 5rem 6rem;
    padding: 2rem 5rem 0 4rem;
    border-radius: 20px;
    
}
.head-text{
    width: 50%;
    margin-top: 2rem;
}
.head-text h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.head-pic{
    width: 50%;
}
.head-pic img{
    width: 100%;
}
.head-text p{
    margin-bottom: 1.8rem;
    font-size: .8em;
}
.head-text a{
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: .5em 1.2em .5em 1.2em;
    border-radius: .2rem;
}
.head-text span{
    position: relative;
    left: .3em;
}

 /* Header Section Start  */
 /* ....................................................................... */

 /* Main section start */
 .main-side{
    background-color: black;
    color: white;
    width: 15%;
    height: 15%;
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
    left: 7rem;
    
 }
 .main-side .whit{
    background-color: white;
    color: black;
    margin: .2rem .2rem 1rem .2rem;
     padding: .8rem 1rem;
    text-align: center;
    border-radius: .5rem;
    font-weight: 900;
    
 }
 .main-side .whit-1{
    background-color: white;
    color: black;
    margin: .2rem .2rem 1rem .2rem;
    padding: .8rem 1rem;
    text-align: center;
    border-radius: .5rem;
    font-weight: 900;
 }
 .main-side .differ{
    background-color: #DD0000;
    color: white;
    margin: .2rem .2rem 1rem .2rem;
    padding: .8rem 1rem;
    text-align: center;
    border-radius: .5rem;
    font-weight: 900;
    
 }
 .differ a{
   text-decoration: none;
   color: white;
 }
 .main-flx{
    display: flex;
 }
 .players{
    max-width: 100%;
    position: relative;
    left: 9rem;
    display: grid;
    grid-template-columns: repeat(3,15rem);
    gap: 1rem;
    margin-bottom: 8rem;
    
    
 }
 .players img{
    width:100%;
    margin-bottom: .2rem;
 }
 .player{
    border: 1px solid;
    border-radius: .5rem;
    
 }
 .gap{
    padding: .5rem;
 }
 .gap a{
    text-decoration: none;
    border: 1px solid;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 700;
 }
 .gap p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
 }
 .gap span{
    margin-left: 15px;
 }
 .view a{
  text-decoration: none;
  background-color:#DD0000;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border-radius: .5rem;
  position: relative;
  left: 40rem;
  bottom: 3rem;
  font-size: 1.8rem;
  display: none;
 }
 /* Main section end */
 /* .............................................................. */
 /* footer */
 .foot{
    background-color: black;
    height: 20rem;
 }
 .foot h2{
   text-align: center;
    color: white;
    position: relative;
    top: 5rem;
 }
 .foot hr{
    position: relative;
    top: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
   
 }
 
 .foot-text span{
    margin: .8rem;
    position: relative;
    left: 18rem;
    top: 10rem;
    color: lightgrey;
    font-size: .8rem;
    
 }
 /* footer  End */
 /* ..................................... */
 /* responsive */
 @media screen and (max-width:576px){
  
   html{
      width: 100%;
      overflow-x: hidden;
   }
   header{
      flex-direction: column;
      height: 440px;
      margin: .5rem 1rem 1rem 1rem;

     
      
   }
   .head-text h1{
      font-size: 20px;
      text-align: center;
      
   }
   .head-text{
      width: 100%;
      margin-top:0;
      position: relative;
      bottom: 1rem;
   }
   .head-text p span{
      display: none;
   }
   .head-text p{
      text-align: center;
      position: relative;
      bottom: .5rem;
   }
   .head-text .cen{
      text-align: center;
      position: relative;
      bottom: 1rem;
     
   }
   .head-pic{
      width: 100%;
      align-items: center;
   }
   .head-pic img{
      width: 80%;  
      position: relative;
      left: 3rem;
   }
   .main-flx{
      flex-direction: column;
   }
   .main-side{
      width: 50%;
      background-color: white;
      padding: 0;
      font-size: 20px;
   }
   .main-side .whit,.whit-1{
      border: 1px solid lightgray;
   }
   .players{
      grid-template-columns: repeat(1,1fr);
       max-width: 80%;
       position: relative;
       left: 3rem;
   }
   .foot{
      width: 90%;
      height: 30rem;
      position: relative;
      left: 2rem;
      
     
   }
   .foot-text{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      position: relative;
      right: 8rem;
   }
   
 }

  

 
 




